
//Color Typography
$heading-color: #0f0840;
$paragraph-color: #54506f;

//Font-Family Typography
$heading-font-family: 'Outfit';
$paragraph-font-family: 'Satoshi';

//Color UI
$violet-color: #5a2ff5;