<div class="container-fluid mt-5 main-section">
  <div class="row ">
    <div
      class="col-sm-12 col-md-6 col-lg-4 p-5 d-flex justify-content-center align-items-center flex-column">
      <h5 class="title-icon">Convenienza</h5>
      <p class="text-center description-icon">Lorem ipsum, dolor sit amet
        consectetur adipisicing
        elit. Accusantium
        earum commodi voluptatem similique asperiores assumenda.</p>
      <img
        src="https://usa.visa.com/content/dam/VCOM/global/pay-with-visa/images/credit-card-icon-convenience-400x225.png"
        class="icon-image">
    </div>
    <div
      class="col-sm-12 col-md-6 col-lg-4 p-5 d-flex justify-content-center align-items-center flex-column">
      <h5 class="title-icon">Gradimento</h5>
      <p class="text-center description-icon">Lorem ipsum, dolor sit amet
        consectetur adipisicing
        elit. Accusantium
        earum commodi voluptatem similique asperiores assumenda.</p>
      <img
        src="https://usa.visa.com/content/dam/VCOM/global/pay-with-visa/images/credit-card-icon-acceptance-400x225.png"
        class="icon-image">
    </div>
    <div
      class="col-sm-12 col-md-6 col-lg-4 p-5 d-flex justify-content-center align-items-center flex-column">
      <h5 class="title-icon">Flessibilità</h5>
      <p class="text-center description-icon">Lorem ipsum, dolor sit amet
        consectetur adipisicing
        elit. Accusantium
        earum commodi voluptatem similique asperiores assumenda.</p>
      <img
        src="https://usa.visa.com/content/dam/VCOM/global/pay-with-visa/images/credit-card-icon-payment-options-400x225.png"
        class="icon-image">
    </div>
  </div>
</div>
