<div class="container mt-4 faq-style">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <img
        src="../../../../../assets/Image/faq.png"
        alt="faqs"
        class="faq__style--image"
      />
      <h2 class="mt-3 text-center faq-style__heading">Domande Frequenti</h2>
      <p class="text-center text-wrap faq__style--paragraph">
        Abbiamo raccolto alcune domande frequenti
      </p>
    </div>
  </div>
  <app-accordion></app-accordion>
</div>
