<div
  class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 main-container"
  id="home"
>
  <div class="row align-items-center g-lg-5 py-5 mt-2">
    <div class="col-lg-6 col-sm-12 text-md-center text-lg-start mb-5">
      <h1 class="fw-bold">
        Una carta per tutte le carte <span>{{ nameCard }}</span>
      </h1>
      <div
        class="d-flex justify-content-center justify-content-lg-start mx-auto row-cols-3 mt-5"
      >
        <a class="btn">Play Store</a>
        <div class="d-flex flex-column">
          <span class="ms-5 rating-icon"></span>
          <span class="ms-5 score-icon"></span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
      <div class="container-image">
        <img
          src="../../../assets/Image/iphone.webp"
          class="d-block mx-lg-auto img-fluid"
          alt="Bootstrap Themes"
          width="378"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
