
<div class="card mb-4 text-center p-4 card-price m-2">
  <div class="card-header bg-transparent ">
    <h4 class="my-0">{{cardPrice.title}}</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">{{cardPrice.price}}</h1>
    <p>{{cardPrice.description}}</p>
    <button type="button"
      class="btn-card mb-3 mx-auto">Get
      Started</button>
    <ul class="list-unstyled mt-3 mb-4 text-start">
      <li class="mb-3">Standard Perfomance</li>
      <li class="mb-3">2 website</li>
      <li class="mb-3">Unmetered bandwitch</li>
      <li class="mb-3">100 GB</li>
      <li class="mb-3">1 database</li>
      <li class="mb-3">Premium Support</li>
    </ul>
  </div>
</div>
